# Python
__pycache__/
*.py[cod]
*$py.class


htmlcov/
.test-reports/
.coverage
.coverage.*
.pytest_cache/
dist/
*.egg-info/

# General
.DS_Store
.AppleDouble
.LSOverride
.tmuxp.*

# IDE temp files
.idea
.vscode

.mypy_cache

# dotenv
*.env
.env
*.dev.env

# virtualenv
venv/
.venv/
ENV/